<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="header">
  <p>Born to be wild!</p>
  <h1>Galaxy Sport Travel - GST</h1>
  <p>Be brave, wherever You want!</p>
</div>
<div class="navbar">
  <div id="nav">
    <a href="about">ABOUT US</a>
    <a href="destinations">DESTINATIONS</a>
    <a href="contact" class="right">CONTACT</a>
    <a href="admin" class="right">admin</a>
  </div>
</div>

<div class="row">
  <div class="main">
    <h2><br>ARE YOU READY FOR AN ADVENTURE?<br><br></h2>
    <h5>With our team You can reach the most extreme places on our planet!<br> Have fun on high risk but totally safe!<br><br></h5>
    <h6>What You don't understand?<br> We are best from the best instructors of extreme sports in galaxy.<br><br></h6>
      <p1>Do You want to try ice climbing in Hymalaya?<br><br></p1>
      <p2>Driving throug the Russian deserts?<br><br></p2>
      <p3>Jump with parachute in Switzerland (Alps)?<br><br></p3>
      <p4>Do some sport climbing in USA (EL Capitan, Colorado)?<br><br></p4>
      <p5>Try to survive in Brazilian jungle?<br><br></p5>
      <p6>Want to check Yourself in shooting in Mexico?<br><br></p6>
      <p7>If somewher is "Yes" just contact with us!!<br><br>
      After that You just don't care, we take care about EVERYTHING!</p7>
  </div>
</div>
</body>

<div class="footer">
  <a href="http://www.facebook.com" class="fa fa-facebook"></a>
  <a href="http://www.twitter.com" class="fa fa-twitter"></a>
  <a href="http://www.instagram.com" class="fa fa-instagram"></a>
  
    <p>travelgst@gmail.com</p>
  
</div>


</html>
