<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="about-section">
  <h1>We are a team of the best professional instructors of extrem sports.</h1>
  <h2>We are also the best friends. This is our guarantee of succes and Your satisfaction.</h2>
</div>

<div class="navbar">
    <a href="homepage">HOMEPAGE</a>
    <a href="destinations">DESTINATIONS</a>
    <a href="contact" class="right">CONTACT</a>
    <a href="admin" class="right">admin</a>
  </div>

<h2 style="text-align:center">Galaxy Team</h2>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/images/Mikolaj.jpg" alt="Mikolaj" style="width:100%">
      <div class="container">
        <h2>Mikołaj Mielczarek</h2>
          <p class="title">Boss & Founder</p>
          <p>Extreme sport climbing.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/images/Martyna.jpg" alt="Martyna" style="width:100%">
      <div class="container">
        <h2>Martyna Mielczarek</h2>
          <p class="title">Main Coordinator and Planner</p>
          <p>Snowboard, ice climbing and free solo climbing.</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="assets/images/Wojtek.jpg" alt="Wojtek" style="width:100%">
      <div class="container">
        <h2>Wojtek Sroka</h2>
        <p class="title">Team Builder</p>
        <p>Multi-pitch climbing, high mountains, parachute jumping.</p>
      </div>
    </div>
  </div>
</div>




<div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/Tytus.jpg" alt="Tytus" style="width:100%">
        <div class="container">
          <h2>Tytus Harlender</h2>
          <p class="title">Supply Manager</p>
          <p>Extremely fast driving, racing and off-road cars.</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/Magda.jpg" alt="Magda" style="width:100%">
        <div class="container">
          <h2>Magda Duda</h2>
          <p class="title">Chief Accountant</p>
          <p>Rifle shooting, horse riding, base jumping.</p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="assets/images/Melania.jpg" alt="Melania" style="width:100%">
        <div class="container">
          <h2>Melania Mielczarek</h2>
          <p class="title">Main Guide and Planner</p>
          <p>Military training, killer psychology, extreme survivor.</p>
       </div>
      </div>
    </div>
  </div>


</body>
</html>
